<h3><%= @council.title %></h3>
<ul id="links-list">
    <li>
        <%= link_to new_council_membership_path(@council) do %>
        	<i class="fa fa-feather-alt" aria-hidden="true"></i> Request Membership
        <% end %>
    </li>
    <li>
        <%= link_to council_memberships_path(@council) do %>
        	<i class="fa fa-address-book" aria-hidden="true"></i> Members
        <% end %>
    </li>
</ul>      

<p class="council-desc"><%= @council.description %></p>

<div class="posted-by">Created by <%= @council.user.name %></div>