<div class="container">
  <div class="row">
    <div id="side-menu"  class="col-sm-3">
      
      <h3><%= @council.title %></h3>
      <p>
        <%= link_to council_path(@council) do %>
          <i class="fa fa-home" aria-hidden="true"></i> Council Home
        <% end %>
      
      <div class="posted-by">Created by <%= @council.user.name %></div>
      <p><%= @council.description %></p>
    
    </div><!-- side-menu -->

    <div id="main-content" class="col-sm-9">
	  
	  <% @council.memberships.each do |m| %>
	  	<%= m.user.name %>
	  <% end %>

    </div><!-- main-content -->

  </div><!-- row -->
</div><!-- container -->