<div id="single-post-content" class="container">
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      
      <h2>Motion: <%= @post.title %></h2>
      
      <p><%= simple_format(@post.content) %></p>
      
      <div class="posted-by">Posted by <%= @post.user.name %></div>
      
      <% if @executive_incumbent.present? %>
        <% if @executive_incumbent.user == current_user %> 
          <%= render 'posts/show/is_motion/executive_options' %>
        <% end %>
      <% end %>
    </div>
  </div><!-- row -->
  <div class='row'>
    <div class='col-sm-offset-1 col-sm-5'>
      All votes for this Motion: <%= @total_votes %> votes / <%= @total_members %> members(<%= @vote_percent %>%)
        <%= bar_chart @post.mot_votes.where(deactivate: false).group(:vote).count %>
    </div>
    <div class='col-sm-5 col-smoffset-1'>
      <%= render check_for_mot_vote ? 'posts/show/is_motion/already_voted' : 'posts/show/is_motion/not_yet_voted' %>
    
      <h3>
        <%= link_to(council_path(@post.council), :type => 'button', :class =>'btn btn-dark') do %>
          <i class="fa fa-home" aria-hidden="true"></i> Discussion
        <% end %>
      </h3>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <% if !@approve.blank? %>
        <p><strong>Approve:</strong>  
        <% @approve.each do |v| %>
          <%= link_to v.user.name, council_membership_path(@council, @council.memberships.where(user_id: v.user.id, active:true, deactivate:false).first) %>
        <% end %> 
        </p>
      <% end %> 
      <% if !@reject.blank? %>
        <p><strong>Reject:</strong>
        <% @reject.each do |v| %>
          <%= link_to v.user.name, council_membership_path(@council, @council.memberships.where(user_id: v.user.id, active:true, deactivate:false).first) %>
        <% end %> 
        </p>
      <% end %> 
      <% if !@abstain.blank? %>
        <p><strong>Abstain:</strong>
        <% @abstain.each do |v| %>
          <%= link_to v.user.name, council_membership_path(@council, @council.memberships.where(user_id: v.user.id, active:true, deactivate:false).first) %>
        <% end %> 
        </p>
      <% end %> 
      <% if !@delay.blank? %>
      <p><strong>Delay:</strong>
        <% @delay.each do |v| %>
          <%= link_to v.user.name, council_membership_path(@council, @council.memberships.where(user_id: v.user.id, active:true, deactivate:false).first) %>
        <% end %> 
        </p>
      <% end %> 
      
    </div>
  </div>
</div>