<div class="container" id="sign-up-form">
  <div class="row">
    <h1>Cast your vote!</h1>
    
    <h3>Voting for: <%= @position.title %></h3>

    <div class="col-sm-offset-4 col-sm-4">
      <h3></h3> 

      <%= bootstrap_form_for(@pos_vote, 
                             :url => council_position_pos_votes_path(@council, @position, @pos_vote)) do |f| %>

        <%= f.select  :vote_id,
                      options_from_collection_for_select(@members, "id", "name", params[:vote_id]) %>
        
        <%= f.submit 'Vote Now', class: 'btn sign-up-button' %>
      <% end %>
      <%= link_to 'Back', council_position_path(@council, @position) %>
    
    </div>
  </div>
</div>