  <div class="row">
    <h3>Posting to: <%= @council.title %></h3>
    <h3>Make a Post</h3>

    <div class="col-sm-offset-3 col-sm-6">
      <h3></h3> 

      <%= bootstrap_form_for(@post, 
                             url: council_posts_path(@council, @post)) do |f| %>

        <%= f.text_field  :title,
				                  placeholder: 'Post Title', 
                	        class: 'form-control',
                          required: 'true' %>
        
        <%= f.text_area   :content,
				                  placeholder: 'Post Content', 
                	        class: 'form-control',
                          required: 'true' %>
        
        <%= f.check_box   :motion %>
        
        <%= f.check_box   :closed %>

        <%= f.submit 'Post to Council', id:'modal-submit', class: 'btn sign-up-button' %>
      <% end %>
      
    </div>
  </div>
