<!DOCTYPE html>
<html>
<head>
  <title>Ican</title>
  <%= include_gon(:init => true) %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
</head>
<body>

<%= render 'layouts/navigation' %>
<%= yield %>
<%= render 'layouts/private_conversations_windows' %>

</body>
</html>
